@charset 'UTF-8';

:root {
  --c_blue500 : blue ;
}

html {
  font-size : 18px ;
  line-height : 1.5 ;
}

header {
  height : 100vh ;
}

header nav {
  display : grid ;
  place-items : center ;
}

header section {
  height : inherit ;
}

header section article {
  height : 100% ;
}

header section article h1 {
  font-size : calc( 1rem + 10px) ;
  color : var( --c_blue500 ) ;

}

/* Comienzo Aside */
Aside {}

Aside section {}

Aside section article {}

Aside section article ol {}

Aside section article ol li {}
